.search-results {
    margin-top: 10px;
    overflow-y: auto;
}

.search-result-item {
  background: #25242d;
  border-radius: 8px;
  padding: 8px 10px;
  margin-bottom: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}

.search-result-item:hover {
  background: #504f5a;
  box-shadow: 0 4px 16px rgba(0,0,0,0.18);
}

.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results h3 {
  color: #fff;
  margin-bottom: 10px;
  margin-top: 20px;
}

.search-results h3:first-child {
  margin-top: 0;
}

.search-result-link {
  margin-top: 5px;
  color: #4fc3f7;
  text-decoration: underline;
  font-size: 0.95em;
}

.match-type {
  margin-left: 8px;
  font-size: 0.9em;
  color: #4fc3f7;
}

.item-notes {
  margin-top: 5px;
  color: #ccc;
  font-size: 0.9em;
}

.item-link {
  margin-top: 5px;
}

.item-link a {
  color: #4fc3f7;
  text-decoration: underline;
}

.top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}