.sliding-menu {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  background: var(--dark2);
  box-shadow: -2px 0 16px rgba(0,0,0,0.18);
  transition: right 0.5s ease;
  z-index: 2000;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sliding-menu h2 {
  color: white;
  margin: 0;
}

.sliding-menu.open {
  right: 0;
}

.search-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--gray3);
    margin-top: 25vh;
}


.close-btn {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--pink2);
  cursor: pointer;
  margin-bottom: 1rem;
}