:root {
  --dark1: #17104b;
  --dark2: #020128;
  --pink1: #e516b8;
  --pink2: #ff74cc;
  --text-color1: #000000;
  --text-color2: #ffffff;
  --gray1: #9a9a9a;
  --bg-color: #ffffff;
  --border-radius: 8px;
}

* {
  font-family: 'Atlassian Sans Ext'
}