:root {
  --dark1: #17104b;
  --dark2: #020128;
  --dark3: #453c89;
  --pink1: #e516b8;
  --pink2: #ff74cc;
  --pink3: #c5adc6;
  --text-color1: #000000;
  --text-color2: #ffffff;
  --gray1: #dfdfdf;
  --gray2: #8d8d8d;
  --bg-color: #ffffff;
  --border-radius: 8px;
}

* {
  font-family: 'Atlassian Sans Ext'
}