:root {
  --dark1: #231f40;
  --dark2: #010015;
  --dark3: #453c89;
  --dark4: #1f1f23;
  --pink1: #e516b8;
  --pink2: #ff74cc;
  --pink3: #c5adc6;
  --text-color1: #000000;
  --text-color2: #ffffff;
  --gray1: #dfdfdf;
  --gray2: #8d8d8d;
  --gray3: #393939;
  --bg-color: #ffffff;
  --border-radius: 8px;
}

* {
  /* font-family: 'Atlassian Sans Ext' */
  font-family: 'Inter', sans-serif;
}

html, body, #root, .App {
  height: 100%;
  overflow-y: hidden !important;
}

.App {
  
  background: 
  repeating-linear-gradient(0deg, transparent, transparent 39px, #292929a9 40px),
    repeating-linear-gradient(90deg, transparent, transparent 39px, #292929a9 40px),
    radial-gradient(
    circle at 50% 20%,
    var(--dark1) 0%,
    var(--dark2) 75%
  );
}
