.delete-btn {
  border: none;
  padding: 0;
  position: fixed !important;
  bottom: 32px;
  left: 12.5vw;
  z-index: 500;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px !important;
  height: 48px !important;
  min-width: 48px !important;
  min-height: 48px !important;
  max-width: 48px !important;
  max-height: 48px !important;
  box-sizing: border-box;
  flex: 0 0 auto !important;
}