.modal-content {
  background: var(--dark2) !important;
  color: #fff !important;
  border: 1px solid var(--gray3);
  box-shadow: 0 8px 32px 0 #b116957c, 0 1.5px 8px 0 #ff00ee5c;
    border: none !important;
}

.modal-header,
.modal-footer {
  border: none !important;
  background: transparent !important;
}

hr {
  border: none !important;
  background: none !important;
  height: 0 !important;
}

.modal-title {
  color: #fff !important;
}

#sectionTitle.form-control {
  background: var(--gray2) !important;
  color: #fff !important;
  border: 1px solid var(--gray3) !important;
}

#sectionTitle.form-control:focus {
  border-color: var(--pink1) !important;
}

button.btn-primary {
  background: linear-gradient(135deg, var(--pink1) 0%, var(--pink2) 100%);
  color: #fff !important;
  border: none;
}

.modal-header .btn-close {
  filter: invert(1);
}