.sortable-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
  background: #25242d;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  position: relative;
  z-index: 1;
  border: 4px transparent;
}

.drag-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  display: flex;
  align-items: center;
  margin-right: 7px;
  border-radius: 4px;
}

.drag-handle:hover {
  background: var(--gray1) !important;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes animate-border {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.sortable-item.editing::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  opacity: 0.5;
  background: repeating-conic-gradient(
    from var(--angle),
    var(--border-color) 0%,
    transparent 30%,
    var(--border-color) 100%
  );
  border-radius: 8px;
  animation: animate-border 3s linear infinite;
  z-index: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 1;
}

.edit-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.sortable-item:hover .edit-handle {
  opacity: 1;
}

.edit-handle:hover {
  background: var(--gray1) !important;
}

.right-controls {
  display: flex;
  align-items: center;
  margin-right: 4px;
}