.sortable-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
  background: #25242d;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  position: relative;
  z-index: 1;
  border: 4px transparent;
}

.drag-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  display: flex;
  align-items: center;
  margin-right: 7px;
  border-radius: 4px;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes animate-border {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.sortable-item.editing::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  opacity: 0.5;
  background: repeating-conic-gradient(
    from var(--angle),
    var(--border-color) 0%,
    transparent 30%,
    var(--border-color) 100%
  );
  border-radius: 8px;
  animation: animate-border 3s linear infinite;
  z-index: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 1;
}

.sortable-item .edit-handle {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.sortable-item:hover .edit-handle {
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: auto;
}

.item-content {
  flex: 1 1 0;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 8px; 
}

.right-controls {
  display: flex;
  align-items: center;
  margin-right: 4px;
  flex-shrink: 0;
}

.edit-handle,
.drag-handle {
  transition: transform 0.2s;
  background: none !important;
  box-shadow: none !important;
}

.edit-handle svg,
.drag-handle svg {
  transition: color 0.3s ease, transform 0.3s ease;
}

.edit-handle:hover svg,
.drag-handle:hover svg {
  color: var(--pink1) !important;
  transform: translateY(-2px);
}