.add-circular-btn {
  background-color: var(--dark2);
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding: 0;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
  transition: background 0.2s;
  color: #fff;
  position: fixed;
  bottom: 32px;
  right: 12.5vw;
  z-index: 500;
}

.add-circular-btn:hover {
  background: var(--dark1);
}

.add-plus-icon {
  font-size: 3rem;
  color: white; 
}