.ghost-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gray3);
    width: 20vw;
    height: 20px;
    padding: 20px;
    border-radius: var(--border-radius);
}