.logs-bar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  max-width: 300px;
  min-width: 0;
  z-index: 1000;
  pointer-events: none;
  display: flex;
  justify-content: center;
  height: 64px;
}

.logs-scroll {
  color: #f5f5eab8;
  border-radius: 8px;
  width: 100%;
  max-height: 60px;
  overflow-y: auto;
  font-size: 0.75em;
  box-shadow: 0 2px 8px #000a;
  text-align: center;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: transparent;
  backdrop-filter: blur(8px);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  mask-image: linear-gradient(to bottom, transparent, black 30%, black 80%, transparent);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  padding: 5px 16px;
  pointer-events: auto;
  z-index: 100;
  border: none;
}

.logs-scroll::-webkit-scrollbar {
  display: none;
}

.log-entry {
  margin-bottom: 2px;
  white-space: pre-line;
  text-align: center;
  letter-spacing: 0.04em;
}

